body {
  padding: 0;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
}

#calendar {
  height: 280px;
}

#calendar .month text {
  fill: #555;
}
#calendar .month line {
  stroke: #ccc;
  stroke-width: 4px;
  cursor: pointer;
}
#calendar circle.activity {
  fill: #55aa77;
  cursor: pointer;
}
#calendar circle.activity.selected {
  fill: #ff5555;
  cursor: pointer;
}

#details {
  opacity: 0;
  font-size: 14px;
}

#map {
  height: 350px;
}

#info table {
  width: 600px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
#info th {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
#info td {
  width: 200px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
