body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
}

#calendar {
  height: 220px;
  margin: 10px 0;
}
#calendar .month text {
  fill: #555;
}
#calendar .month line {
  stroke: #ccc;
  stroke-width: 4px;
}
#calendar circle.activity {
  fill: #888;
  cursor: pointer;
}
#calendar circle.activity.running {
  fill: #55aa77;
  cursor: pointer;
}
#calendar circle.cursor {
  fill: none;
  stroke: #ff5555;
  stroke-width: 3.5px;
}

#chart {
  height: 85px;
}

#chart .line,
#chart .cursor {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
#chart .area {
  fill: lightsteelblue;
}
#chart .scale text {
  fill: #555;
}
#chart .scale line,
#chart .scale path {
  stroke: steelblue;
}

#details-title {
  margin: 10px 20px;
  font-size: 14px;
}

#map {
  height: 350px;
}

#info table {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#info th {
  font-size: 14px;
  font-weight: normal;
  color: #555;
}
#info td {
  width: 200px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.hidden {
  opacity: 0 !important;
}
